## 1.database

In [ ]:
Python supports various databases like SQLite, MySQL, Oracle, Sybase, PostgreSQL, etc. Python also supports Data
Definition Language (DDL), Data Manipulation Language (DML) and Data Query Statements. The Python standard for database 
interfaces is thePython DB-API.

### diference between sql and no sql

In [ ]:
SQL:
-A relational database in nature	
-Modeled based on the concept of “table.”	
-Being relational in nature can be a tough task to scale big data.
-A detailed database model needs to be in place before the creation.	
-Avast and expert community is available.
-A vast and expert community is available.
-Schema is rigid.
-Not so flexible design-wise, new column or field insertion affects a design.

In [ ]:
NO SQL:
-A non-relational database in nature.
-Modeled based on the idea of a document.
-Easily scalable big data as compared to relational.
-No need to develop an exact database model.
-A community is growing rapidly and smaller as compared to MySQL.
-Lack of a standard query language.
-Dynamic schema is a key benefit of NoSQL.
-New columns or fields can be inserted without the existing design.

## 2.DDL

In [ ]:
DDL statements are similar to a computer programming language for defining data structures, especially database schemas.
Common examples of DDL statements include CREATE, ALTER, and DROP.
Today’s databases incorporate DDL in any formal language that describes data, although it is considered a subset of SQL.

### CREATE:

In [ ]:
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their 
datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

In [10]:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

SyntaxError: invalid syntax (1270769768.py, line 1)

### DROP:

In [ ]:
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

In [ ]:
DROP TABLE Student_info;

### ALTER:

In [ ]:
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name
and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

In [ ]:
ALTER TABLE Student_info
ADD CGPA number;

### TRUNCATE:

In [ ]:
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;

In [ ]:
TRUNCATE TABLE Student_info;

## 3.DML

In [ ]:
The Full Form of DML is Data Manipulation Language. Data Manipulation Language (DML) is a programming language, also a
categoryof SQL, applying useful table format and formulas for exchanging information, with the data limited to a point in the
database, using SQL.

### INSERT

In [ ]:
This command is used to enter the information or values into a row. We can connect one or more records to a single table
within a repository using this instruction. This is often used to connect an unused tag to the documents.


Syntax :

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)

VALUES ('value1', 'value2');

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

ModuleNotFoundError: No module named 'mysql'

### UPDATE

In [ ]:
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command
is used to alter the data which is already present in a table.


Syntax :

UPDATE <table_name>

SET <column_name = value>

WHERE condition;

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

ModuleNotFoundError: No module named 'mysql'

### DELETE

In [ ]:
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do
notspecify the ‘WHERE’ condition then all the rows would be erased or deleted.


Syntax :

DELETE FROM <table_name>

WHERE <condition>;

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

ModuleNotFoundError: No module named 'mysql'

## 4.DQL

In [ ]:
DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command
to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational 
algebra.

### SELECT

In [ ]:
The SELECT Statement in SQL is used to retrieve or fetch data from a database. 

Syntax:

SELECT column1,column2 FROM table_name 

column1 , column2: names of the fields of the table

table_name: from where we want to apply query

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="myusername",
  password="mypassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

## 5.primary key and foregin key

### primary key

In [ ]:
The PRIMARY KEY constraint uniquely identifies each record in a table.

Primary keys must contain UNIQUE values, and cannot contain NULL values.

A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

### foregin key

In [ ]:
The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.

A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

The table with the foreign key is called the child table, and the table with the primary key is called the referenced or 
parent table.

## 6.MY SQL

### cursor()

In [ ]:
Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method:
they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database
session wrapped by the connection.

### execte()

In [ ]:
This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params
are bound to the variables in the operation

In [ ]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "yourusername",
    passwd = "yourpassword",
    database = "studytonight"
)

cursor = db.cursor()
## defining the Query
query = "SELECT * FROM students ORDER BY name"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

ModuleNotFoundError: No module named 'mysql'

## 7.order of execution

In [ ]:
In an sql query,the order of execution of clauses is generally as:
    FROM
    WHERE
    GROUP BY
    HAVING
    SELECT
    DITINCT
    ORDER BY
    LIMIT/OFFSET
note that some clauses such as GROUPBY,HAVING,DISTINCT,andORDER BY, are optional and may not be present in every query.
Additionally, there may be variations in the order of execution based on the specific database system or query optimizer used